{% extends 'base_template.html' %}

{% block content %}

<div class="main_container">
    
    <div class='card card--dark' >
        <div class="card__body">
            <p>
              Usted va a construir un nuevo presupuesto
              <p>&emsp;&#8594 Un presupuesto esta asociado a un cliente existente </p>
              <p>&emsp;&#8594 Si no ha dado aún de alta al cliente debe hacerlo en el apartado <a href="{% url 'nuevo_cliente' %}">Nuevo cliente</a> </p>
            </p>
        </div>
    </div>

    <form method='POST' action=""  class="form">
        {% csrf_token %}
        <!-- Input:Text -->
        <div class="form__field">
          <label for="formInput#text">Cliente: </label>
          <select
            class="input input--text"
            id="id_cliente"
            name="cliente"
        >
            {% for cliente in clientes %}
                <option value="{{ cliente }}" >
                    {{ cliente.nombre }}
                </option>
            {% endfor %}
        </select>
        </div>


       
        <!-- Textarea -->
        <div class="form__field">
          <label for="formInput#textarea">Coste: </label>
          <textarea
            class="input input--textarea"
            name="coste"
            id="formInput#textarea"
            placeholder="Coste del proyecto"
          ></textarea>
        </div>


        <!-- Input:Submit / Input:Reset  -->
        <div class="form__field form__field--action">
          <input class="btn" type="reset" value="Borrar" />
          <input class="btn btn--main" type="submit" value="Crear Presupuesto" />
        </div>
      </form>

</div>  



{% endblock content %}